---
layout: default
---
<article class="post">
  <header class="post-header">
    <div class="post-meta">
        <span class="date">{{ page.date | date: "%Y-%m-%d" }}</span>
        {% if page.categories.size > 0 %}
        <div class="tags">
            {% for category in page.categories %}
            <span class="tag">{{ category }}</span>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
</article>
